---
layout: base.njk
title: Home
---

{% include "sections/hero-image.njk" %}
{% include "sections/hero.njk" %}
{% include "sections/services-preview.njk" %}
{% include "sections/why-choose-ica.njk" %}
{% include "sections/testimonials.njk" %}
{% include "sections/recent-posts.njk" %}
{% include "sections/cta.njk" %}