---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for page in collections.all %}
    {%- if page.data.eleventyExcludeFromCollections != true %}
    <url>
      <loc>{{ site.url }}{{ page.url | url }}</loc>
      <lastmod>{{ page.date | dateToISO }}</lastmod>
      <changefreq>{{ page.data.changefreq or "monthly" }}</changefreq>
      <priority>{{ page.data.priority or "0.5" }}</priority>
    </url>
    {%- endif %}
  {%- endfor %}
  <!-- AI System Resources -->
  <url>
    <loc>{{ site.url }}/llms.txt</loc>
    <lastmod>{{ build.timestamp | dateToISO }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
</urlset>